#salir a {
    background-color: #98c343;
  }

  #salir a:hover {
    background-color: #10801c;
  }

  body {
    background: linear-gradient(135deg, #98c343, #10801c);
    position: relative;
    padding-bottom: 10px;
    min-height: 100vh;
  }
/* #example_filter{
    visibility:hidden !important;

} */